<?xml version="1.0"?>
<!--
/**
 * Mohan_ProductQueueSave
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mohan_ProductQueueSave::queue_manage"
             title="Product Queue Log"
             module="Mohan_ProductQueueSave"
             sortOrder="200"
             parent="Magento_Catalog::catalog"
             action="mohanqueue/queue/index"
             resource="Mohan_ProductQueueSave::queue_manage"/>
    </menu>
</config>
